<hr>
<div class="container p">
    <pre>
        <h1 style="font-family: 'Times New Roman', Times, serif; display: block;  text-align: center;" >--My Portfolio--</h1>
    </pre>
    <div class="circle">
        <img src="assets/img/oneStop.jpg" alt="cat">
    </div>
    <hr>
    <section>
        Education : NSIT (COE) | School (JMV)
    </section>
    <section>
        Experiences : Shtakshi weddings | Birthday Celeb | Engagement Celeb
    </section>
    <section>
        MobileNo : 9321659540
    </section><br>
    <article><b>My Story : </b><br>
        I have started working as a event manager since 2010.
        I'm an Innovative, proactive event planning professional with a high-energy
        background in a fast-paced wedding management arena.
        Proven record of planning and execution of 500+small and large weddings and corporate events. Outstanding
        written and verbal communication skills and superior presentation capabilities aimed at managing aesthic
        weddings within designed budgets.

        <p>
            So, let's help people to make their dreams happen.
        </p>
    </article><br>
    <!-- <a href="https://www.google.com/search?q=notebook&sxsrf=APwXEdctPEPHGRdsiz4HsNsyjEUhqabFPQ:1679980541206&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiyg42b7_39AhVaSGwGHYaVAgMQ_AUoAnoECAIQBA&biw=1366&bih=657&dpr=1#imgrc=nvbhe2cyu_iiRM"
        target="_main"><img
            src="https://cdn.shopify.com/s/files/1/0793/4099/files/Capture_One_Catalog1419293_2000x889_crop_center.jpg?v=1637092451"
            alt="notebook" height="200"></a> -->

</div>
<hr>
<!-- <div container-fluids py-5>
    <button type="button" class="btn btn-outline-primary me-2" style="margin-top: 30px;margin-left: 550px;"
        data-bs-toggle="modal" (click)="Pricing('data')">Show
        All Data</button>


</div>
<div class="container py-9" style=" margin-top: 50px;">
    <table class="table table-hover table-striped table-warning" *ngIf="selectedData">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
            </tr>
        </thead>


        <tbody>
            <tr class="table-danger" *ngFor="let itm of dataAll">
                <td>{{ itm.idall }}</td>
                <td>{{ itm.nameall }}</td>
                <td>{{ itm.ageall }}</td>
                <td>{{ itm.addressall }}</td>
            </tr>
        </tbody>
    </table>
</div> -->