<hr>
<div class="container p">
    <pre>
        <h1 style="font-family: 'Times New Roman', Times, serif; display: block;  text-align: center;" >--My Portfolio--</h1>
    </pre>
    <div class="circle">
        <img src="assets/img/oneStop.jpg" alt="cat">
    </div>
    <hr>
    <section>
        Education : NSIT (COE) | School (JMV)
    </section>
    <section>
        Experiences : Shtakshi weddings | Birthday Celeb | Engagement Celeb
    </section>
    <section>
        MobileNo : 9321656540
    </section><br>
    <article><b>My Story : </b><br>
        I have started working as a event manager since 2010.
        I'm an Innovative, proactive event planning professional with a high-energy
        background in a fast-paced wedding management arena.
        Proven record of planning and execution of 500+small and large weddings and corporate events. Outstanding
        written and verbal communication skills and superior presentation capabilities aimed at managing aesthic
        weddings within designed budgets.

        <p>
            So, let's help people to make their dreams happen.
        </p>
    </article><br>
</div>
<hr>