<head>
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: rgb(151, 216, 118);
            color: white;
        }

        p.dotted {
            border-bottom: palevioletred;
        }
    </style>
</head>
<div class="container ">
    <div class="card-footer">
        <p class=""><b>-- One Stop Events & our Work --</b></p>
    </div>
    <div class="row row cols-6 row-cols-md1">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/img7.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Haldi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/img8.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Prewedding</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/img9.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Haldi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin-top:20px;margin-bottom: 20px;">
                <img src="assets/img/img10.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Mehendi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 18rem; margin-top:20px;margin-bottom: 20px;">
                <img src="assets/img/img11.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Wedding</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin-top:20px;margin-bottom: 20px;">
                <img src="assets/img/1mg12.jpg" class="card-img-top" alt="Nature view first">
                <div class="card-body">
                    <h5 class="card-title">Anniversary</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
                <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>
    </div>
    <figure class="text-center py-3">
        <blockquote class="blockquote">
            <p>Welcome to the OneStopEvents Site</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            We Make Your Dreams Happen! <cite title="Source Title">OneStopEvents</cite>
        </figcaption>
    </figure>
</div>

<div class="container-fluid">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>

    </footer>
</div>
<footer>
    <p>Name: Jyoti Chavan<br>
        <a href="mailto:jyotichavan2497@gmail.com">jyotichavan2497&#64;gmail.com</a>
    </p>    
</footer>