<section class="view intro-2 p">
    <div class="container">
        <h3 class="font-waight-light display-7" style="margin-top: 30px; margin-bottom: 30    ;margin-left: 350px;">
            Registration Form
        </h3>
        <div class="full-bg-img mask rgba-gradient">
            <form (submit)="addTableRow(firstName.value, lastName. value, email.value, password.value)">
                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <label>
                            Name:
                            <input type="text" #firstName>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label>
                            Age:
                            <input type="number" #lastName>
                        </label>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <label>
                            Email:
                            <input type="email" #email>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label>
                            Email:
                            <input type="password" #password>
                        </label>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info ml-2">Add Row</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container py-3 ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lo of tableRows">
                    <th scope="row">1</th>
                    <td>{{lo.firstName}}</td>
                    <td>{{lo.lastName}}</td>
                    <td>{{lo.email}}</td>
                    <td>{{lo.password}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>